<div class="container">
  <div class="header text-center">
    <h1 class="page-title">Here are the List of breeds we specialize in!</h1>
  </div>

  <div class="search-form text-center my-4">
    <%= form_with(url: dog_breeds_path, method: 'get', class: 'form-inline') do %>
      <%= text_field_tag :query, params[:query], class: 'form-control mr-2', placeholder: 'Search' %>
      <%= submit_tag 'Search', class: 'btn btn-primary custom-button' %>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @dog_breeds.each do |dog_breed| %>
        <tr>
          <td><%= dog_breed.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= will_paginate @dog_breeds, renderer: BootstrapPagination::Rails %>
  </div>
</div>
