<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Vets', vets_path %></li>
        <li><%= link_to 'Dog Breeds', dog_breeds_path %></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h1>Vets who specialize in <%= @specialty %></h1>

    <table class="vets-table">
      <tr>
        <th>Name</th>
      </tr>

      <% @vets.each do |vet| %>
        <tr>
          <td><%= vet.name %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to 'Back', vets_path %>
  </div>

</body>
</html>
