<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container-fluid">
    <div class="header text-center">
      <h1 class="page-title">Meet Our Vets!</h1>
    </div>

    <h2>Find by Specialty</h2>
    <ul class="list-group">
      <% @specialties.each do |specialty| %>
        <li class="list-group-item"><%= link_to specialty, vets_by_specialty_path(specialty) %></li>
      <% end %>
    </ul>

    <%= form_tag(vets_path, method: :get, class: 'text-center') do %>
      <div class="form-row align-items-center">
        <div class="col">
          <%= label_tag(:query, "Search for:", class: 'sr-only') %>
          <%= text_field_tag(:query, params[:query], class: 'form-control', placeholder: 'Search for...') %>
        </div>
        <div class="col">
          <%= label_tag(:specialty, "Specialty:", class: 'sr-only') %>
          <%= select_tag(:specialty, options_from_collection_for_select(@specialties, :to_s, :to_s, params[:specialty]), class: 'custom-select') %>
        </div>
        <div class="col">
          <%= submit_tag("Search", class: 'btn btn-primary custom-button') %>
          <%= link_to 'Reset', vets_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @vets.each do |vet| %>
          <tr>
            <td><%= link_to vet.name, vet_specialty_path(vet.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <div class="pagination">
      <%= will_paginate @vets, renderer: BootstrapPagination::Rails %>
    </div>

  </div>
</body>
</html>
