<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="your-styles.css">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Vets', vets_path %></li>
      <li><%= link_to 'Dog Breeds', dog_breeds_path %></li>
    </ul>
  </nav>
</header>

<div class="container">
  <h3>Meet Doctor</h3><h1><%= @vet.name %></h1>
  <p>Specialty: <%= @vet.specialty %></p>
  <%= link_to 'Back', vets_path %>
</div>

</body>
</html>
