<!DOCTYPE html>
<html>
<head>
  <title>BarkWell Dog Hospital</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="styles.css">

  <%= stylesheet_link_tag "application", 'styles',"data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <main>
    <%= yield %>
  </main>

  <footer>
    &copy; 2023 BarkWell Dog Hospital. All rights reserved.
  </footer>
</body>
</html>
